In [2]:
#Q1
import pandas as pd
import edhec_risk_kit as erk
me_m = pd.read_csv('W1S1 data/Portfolios_Formed_on_ME_monthly_EW.csv',
                      header = 0, index_col = 0, na_values = -99.99)
rets = me_m[['Lo 20', 'Hi 20']]
rets = rets/100
rets.index = pd.to_datetime(rets.index, format='%Y%m').to_period('M')
rets.head()

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316

In [3]:
rets.shape

(1110, 2)

In [6]:
ann_rets = (rets + 1).prod()**(12/rets.shape[0]) - 1
ann_rets

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

In [7]:
ann_vol = rets.std()*12**0.5
ann_vol

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

In [9]:
# Annualized returns for 1999 - 2015
ann_rets_1999 = (rets['1999':'2015'] + 1).prod()**(12/rets['1999':'2015'].shape[0]) - 1
ann_rets_1999

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [10]:
# Annualized volatility between 1999 and 2015
ann_vol_1999 = rets['1999':'2015'].std()*12**0.5
ann_vol_1999

Lo 20    0.228894
Hi 20    0.172713
dtype: float64

In [14]:
erk.drawdown(rets['1999':'2015']['Lo 20'])['Drawdown'].min()

-0.6248092431236988

In [15]:
erk.drawdown(rets['1999':'2015']['Lo 20'])['Drawdown'].idxmin()

Period('2009-02', 'M')

In [16]:
erk.drawdown(rets['1999':'2015']['Hi 20'])['Drawdown'].min()

-0.5527349978713653

In [17]:
erk.drawdown(rets['1999':'2015']['Hi 20'])['Drawdown'].idxmin()

Period('2009-02', 'M')

In [29]:
# Second Part with Hedge Fund Indices
hfi = erk.get_hfi_returns()
hfi.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
1997-01,0.0119,0.0393,0.0178,0.0791,0.0189,0.0213,0.0191,0.0573,0.0281,0.0150,0.0180,-0.0166,0.0317
1997-02,0.0123,0.0298,0.0122,0.0525,0.0101,0.0084,0.0122,0.0175,-0.0006,0.0034,0.0118,0.0426,0.0106
1997-03,0.0078,-0.0021,-0.0012,-0.0120,0.0016,-0.0023,0.0109,-0.0119,-0.0084,0.0060,0.0010,0.0778,-0.0077
1997-04,0.0086,-0.0170,0.0030,0.0119,0.0119,-0.0005,0.0130,0.0172,0.0084,-0.0001,0.0122,-0.0129,0.0009
1997-05,0.0156,-0.0015,0.0233,0.0315,0.0189,0.0346,0.0118,0.0108,0.0394,0.0197,0.0173,-0.0737,0.0275

In [30]:
hfi_2009 = hfi['2009':'2017']
hfi_2009

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08,-0.0012,0.0160,-0.0004,0.0148,0.0058,-0.0029,0.0015,0.0046,0.0069,-0.0004,0.0026,-0.0003,0.0075
2017-09,0.0065,-0.0194,0.0058,0.0091,0.0045,0.0108,-0.0033,-0.0011,0.0110,0.0039,0.0041,-0.0652,0.0039
2017-10,0.0060,0.0367,0.0000,0.0137,0.0072,0.0018,0.0031,0.0128,0.0144,0.0023,0.0065,-0.0990,0.0113
2017-11,0.0002,0.0004,0.0009,0.0080,0.0023,0.0010,0.0005,-0.0023,0.0066,-0.0077,0.0006,-0.0008,-0.0007
2017-12,0.0025,0.0115,0.0166,0.0162,0.0052,0.0150,0.0009,0.0055,0.0091,0.0078,0.0055,0.0043,0.0064

In [31]:
erk.semideviation(hfi_2009).sort_values()

Fixed Income Arbitrage    0.003374
Merger Arbitrage          0.003822
Equity Market Neutral     0.004347
Global Macro              0.004644
Relative Value            0.006051
Convertible Arbitrage     0.007020
Funds Of Funds            0.007851
CTA Global                0.009487
Distressed Securities     0.009762
Event Driven              0.010346
Long/Short Equity         0.011901
Emerging Markets          0.016244
Short Selling             0.021168
dtype: float64

In [33]:
erk.skewness(hfi['2009':]).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

In [36]:
erk.kurtosis(hfi['2000':'2017']).sort_values()

CTA Global                 2.746603
Global Macro               3.663054
Short Selling              4.245434
Long/Short Equity          4.490493
Merger Arbitrage           4.622453
Event Driven               5.611785
Emerging Markets           6.141214
Distressed Securities      6.278698
Funds Of Funds             7.750679
Relative Value            12.814648
Convertible Arbitrage     22.342383
Equity Market Neutral     23.023472
Fixed Income Arbitrage    32.578509
dtype: float64